
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "inter", sans-serif;

}
body{
    margin: 0 10%;
    max-width: 1440px;
    min-height: 375px;
}
:root{
    --soft-orange: hsl( 35,77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
p{
    font-size: 15px;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: var(--dark-grayish-blue);
}
.nav-link:hover{
    color: var(--soft-red);
}
.logo{
    width: 3rem;

}
ul{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero-section{
    width: 66%;
}
.new{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    padding: 0 2%;
    background-color: black;
    /* margin: 0; */
}
.new h1{
    color: var(--soft-orange)

}

.new-content h3{
    color: var(--off-white);
    font-size: 1rem;
}
.new-content h3:hover{
    color: var(--soft-orange);
}

.new-content p{
    color: var(--grayish-blue);
    font-size: 0.78rem;
}

.new hr{
    opacity: 0.4;
    color: var(--dark-grayish-blue);

}

.hero-image-container img{
    width: 100%;
}
.hero-image-container :nth-child(2){
    display: none;
}
.hero-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bright{
    width: 40%;
}

.bright h1{
    font-size: 2.1rem;
}

.readmore{
    width: 58%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.readmore a{
    background-color: var(--soft-red);
    padding: 5px 10px;
    text-align: center;
    color: var(--off-white);
    width: 50%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.bottom a{
    display: block;
    font-size: medium;
    margin: 7% 0 0 ;
    color: var(--off-white);
    background-color: var(--soft-red);
}

.below-content{
    display: flex;
    flex-direction: column;
    display: inline-flex;
}

.subsection-content{
    text-align: left;
    padding-left: 10px;
}

.below-content img{
    padding: 10px 0 0 30px;
    width: 100px;
    height: 100px;
}

.below-content h3{
    color: var(--very-dark-blue);
    padding: 40px;
    text-align: left;
    padding-left: 0px;
    font-size: 0.9rem;
}

.below-content h2{
    color: var(--dark-grayish-blue)
}

.below-content p{
    font-family: var(--dark-grayish-blue);
    font-size: 0.7rem;

}

/* media */
/* Mobile devices 678px and below */

@media (max-width: 678px){
    body{
        margin: 0 4%;

    }
    nav, main{
        width: 100%;
    }
    nav ul{
        display: none;
    }
    nav :nth-child(3){
        display: none;
    }

    main, .hero-content{
        flex-direction: column;
    }

    .bright, .readmore, .new, .hero-section{
        width: 100%;
    }

    .bright h1{
        font-size:2.8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .readmore{
        height: 20vh;
    }

    .readmore a{
        padding: 10px 10px;
    }

    .new{
        height: 50vh;
        margin-top: 2rem;
        padding: 0 4%;
    }

    .new-content p{
        font-size: 1rem;
    }

    .new-content h3{
        font-size: 1.2rem;
    }

    .below-content{
        height: 52vh;
        margin-bottom: 1rem;

    }
}

